<a href="https://colab.research.google.com/github/kap11172/BTE-320-In-Class-Assignments/blob/main/BTE320_In_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Surface area of a cylinder**

In [ ]:
radius = 3
height = 10
pi = 3.14

# Calculate surface area of cylinder
surfacearea_cylinder = 2 * pi * radius ** 2 + 2 * pi * radius * height
# Display surface area on the screen
print(surfacearea_cylinder)

244.92000000000002

**Rock-paper-scissors**

In [ ]:
import random

c = input('Do you want to play a game? Yes or No: ')

while c == 'Yes':
  p1 = input('Choose rock, paper, or scissors:  ')
  p2 = random.choice(['rock', 'paper', 'scissors'])

  print(f'Computer chose {p2}.')

  if p1 == p2:
    print('Draw')

  elif (p1 == 'rock' and p2 == 'scissors') or (p1 == 'paper' and p2 == 'rock') or (p1 == 'scissors' and p2 == 'paper'):
    print('You win')

  else:
    print('Computer wins')

  c = input('Do you want to play again? Yes or No: ')
print('Have a nice day!')

Do you want to play a game? Yes or No: Yes
Choose rock, paper, or scissors:  paper
Computer chose paper.
Draw
Do you want to play again? Yes or No: Yes
Choose rock, paper, or scissors:  scissors
Computer chose scissors.
Draw
Do you want to play again? Yes or No: Yes
Choose rock, paper, or scissors:  paper
Computer chose scissors.
p2 wins
Do you want to play again? Yes or No: No
Have a nice day!

**Numerical Calculator**

In [ ]:
n1 = float(input('Choose a number: '))
n2 = float(input('Choose a number: '))
Symbol = input('Choose operator: ')

if Symbol == '+':
  print(f'n1+n2 = {n1+n2}')

elif Symbol == '-':
  print(f'n1-n2 = {n1-n2}')

elif Symbol == '*':
  print(f'n1*n2 = {n1*n2}')

elif Symbol == '/':
  print(f'n1/n2 = {n1/n2}')

elif Symbol == '**':
  print(f'n1**n2 = {n1**n2}')

elif Symbol == '//':
  print(f'n1//n2 = {n1//n2}')

elif Symbol == '%':
  print(f'n1%n2 = {n1%n2}')

Choose number: 5
Choose number: 3
Choose operator: +
n1+n2 = 8.0

**Parking Garage**

In [ ]:
flat = 5.00

for t in range(1, 9):
  charge = flat + 2.50 * t
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0
  print(t, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

**Movie Theater**

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

ad = 0

while ad < 201:
  profit = (10*(standardAttendees + 2 * round((ad**.5))) - fixedCost - ad)
  print(ad, profit)
  ad = ad + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

**Months2Numbers Dictionary**

In [1]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
         'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

**Fee Calculation and Display Functions**

In [2]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print('Parking fee: ','$',fee)

h = int(input('Enter number of hours parked: '))
fee = calcFee(h)
displayFee(fee)

Enter number of hours parked: 4
Parking fee:  $ 15.0

**Reverse Function (Recurrsion)**

In [ ]:
def rev(S):
  if len(S) == 1:
    return S
  else:
    return S[-1] + rev(S[:-1])

rev('Hello')

'olleH'

**Student Class**

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'Already enrolled in {course}')

  def get_courses(self):
    return self.courses

s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')
s3 = Student('Jane Doe', '1111')

In [ ]:
s1.name, s2.name, s3.name

('James Bond', 'Clark Kent', 'Jane Doe')

In [ ]:
s3.enroll('BTE 420')

In [ ]:
s3.get_courses()

['BTE 320', 'BTE 420']